{% extends "base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h1>{{ topic }}</h1>
{% endblock %}

{% block content %}

    <p>Tópico: {{ topic }}</p>

    <p>Entradas: </p>
    <p>
        <a href="{% url 'new_entry' topic.id %}">Adicione nova entrada</a>
    </p>
    <ul>
        {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <p>{{ entry.date_added | date:'M d, Y H:i' }}</p>
                    <small>
                        <a href="{% url 'edit_entry' entry.id %}">editar entrada</a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                {{ entry.text | linebreaks }}
            </div>
        </div>
        {% empty %}
        <li>
            Ainda não existe nenhuma entrada.
        </li>
        {% endfor %}
    </ul>

{% endblock %}